body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1f1f1f; /* Cor de fundo do corpo da página */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Estilo da navbar */
.navbar {
    background-color: #11101d;
    padding: 10px;
    z-index: 999;
}

.Logo {
    color: coral;
    margin-left: 20px;
}

/* Estilo da sidebar */
.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    height: calc(100% - 60px);
    width: 250px;
    background: #11101d;
    transition: all 0.5s;
    z-index: 99;
    flex: 0 0 250px;
}

.sidebar.close {
    left: -250px;
}

.sidebar.open {
    left: 0;
}

.nav-links {
    padding: 20px 0;
}

.nav-links li {
    list-style: none;
    padding: 15px 20px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
}

.nav-links a:hover {
    color: #b8860b;
}

.iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow {
    color: #ffffff;
    font-size: 18px;
}

/* Estilo do título da página */
.title-big {
    font-size: 2rem; /* Reduzindo o tamanho da fonte */
    color: #b8860b;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilo para o contêiner dos gráficos */
.charts-container {
    display: flex;
    flex-wrap: wrap; /* Permitindo que os gráficos quebrem para uma nova linha em telas menores */
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 20px; /* Reduzindo o espaçamento horizontal */
}

/* Estilo para os gráficos */
.chart {
    width: 45%; /* Definindo a largura dos gráficos para ocupar 45% da largura da tela */
    margin-bottom: 20px; /* Adicionando margem inferior para separar os gráficos */
    background-color: #292929; /* Cor de fundo dos gráficos */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
