<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estoque - Stock-Control</title>
    <link rel="stylesheet" type="text/css" href="/estoque.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.0/dist/xlsx.full.min.js"></script>
  </head>
  <body>
    <nav class="navbar">
      <h2 class="Logo">Stock-Control</h2>
    </nav>

    <!-- Sidebar -->
    <div class="sidebar close">
      <ul class="nav-links">
        <li>
          <a href="/dashboard">
            <i class="bx bx-grid-alt"></i>
            <span class="link_name">Dashboard</span>
          </a>
        </li>
        <li>
          <div class="iocn-link">
            <a href="/estoque">
              <i class="bx bx-book-alt"></i>
              <span class="link_name">Estoque</span>
            </a>
            <i class="bx bxs-chevron-down arrow"></i>
          </div>
        </li>
        <li>
          <a href="/inventario">
            <i class="bx bx-pie-chart-alt-2"></i>
            <span class="link_name">Inventário</span>
          </a>
        </li>
        <li>
          <a href="/retirada">
            <i class="bx bx-pie-chart-alt-2"></i>
            <span class="link_name">Retirada</span>
          </a>
        </li>
      </ul>
    </div>

    <!-- Conteúdo -->
    <div class="content">
      <div class="header">
        <div class="header-title">
          <h1 class="title-big">Estoque</h1>
        </div>
      </div>
      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Data de Adição</th>
              <th>Data de Validade</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody id="tableBody">
            <!-- Aqui serão adicionadas as linhas da tabela dinamicamente -->
          </tbody>
        </table>
      </div>
      <div class="export-btn-container">
        <button class="export-btn">Exportar para Excel</button>
      </div>
    </div>

    <script src="/script.js"></script>
  </body>
</html>
